@charset "UTF-8"; 

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    min-height: 98vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: #1a1b24;
    font-family: sans-serif;
 }

 .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  padding: 30px;
 }

 .logo {
  width: 150px;
 }

 .p-title {
  font-size: 1.2rem;
  color: white;
  padding: 20px 10px;
 }

 .nav-link {
  padding: 15px;
  width: 180px;
  text-align: center;
  font-size: 1.20rem;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #c1c3cf;
  background-color: #323644;
 }

 .nav-link:hover, .nav-link:focus {
    outline: none;
    background-color:#26344a;
    transition: all ease-in .2s;
 }

 .nav-link:hover {
  color: #d9dbe2;
 }

 .title {
   text-align: center;
   color: white;
   padding: 30px 0 30px 30px;
 }

 .container-title {
   display: flex;
   flex-direction: column;
   align-items: center; 
 }

 form {
    width: 100%;
    background-color: #272933;
    padding: 20px;
    max-width: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.329);
 }

 /* Para telas pequenas */
 @media screen and (max-width: 500px) {
  body {
    padding: 10px;
  }

  .formulario {
    width: 60vw;
    padding: 30px;
   }

  .form {
    width: 70vw;
  }

  .logo {
    width: 120px;
  }

  .title {
    padding: 30px 0px 0px 10px ;
    font-size: 30px;
  }

  .p-title {
    font-size: 0.90rem;
  }
 }