@charset "UTF-8"; 

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: #1a1b24;
    font-family: sans-serif;
 }

 .nav-link {
  padding: 18px;
  text-decoration: none;
  color: #b0b2be;
 }

 .nav-link:hover {
  color: #d9dbe2;
 }

 .back-index {
  color: #b0b2be;
  font-size: 30px;
  padding-left: 15px;
 }

 .back-index:hover {
  padding-left: 10px;
  color: #d9dbe2;
  transition: all ease-in .3s;
}

.back-index:not(:hover) {
  padding-left: 15px; /* Inicia a animação quando o mouse sai do elemento */
  transition: all ease-in .3s;
}

 .title {
   text-align: center;
   color: white;
   padding: 30px 0 30px 30px;
 }

 .container-title {
   display: flex;
   flex-direction: column;
   align-items: center; 
 }

 .p-title {
  margin: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  color: #e7e9ee;
 }

 .paragraf {
  color: #e7e9ee;
  padding-bottom: 10px;
 }

 .logo {
   width: 150px;
 }

 form {
    width: 100%;
    background-color: #272933;
    padding: 20px;
    max-width: 35rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.329);
 }


 label, input, textarea, .btn {
    display: block;
 }

 label {
   margin-left: 10px;
 }

 input, textarea, select {
    width: 100%;
    font: inherit;
    padding: 0.60rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
    background: #323644;
    border: 0.125rem solid transparent;
    border-radius: 0.6rem;
    transition: border-color 0.3s, box-shadow 0.3s;
 }

 input:hover, input:focus,
 textarea:hover, textarea:focus, 
 select:hover, select:focus {
    outline: none;
    border-color: #F6A50E;
    box-shadow: 0 0 0 0.3125rem #26344a;
 }

 label {
    margin-bottom: 0.5rem;
    color: #b0b2be;
 }

 .campotexto {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }

 .campotexto2 {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }

 .campotexto3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 }

 .wrapper {
   justify-content: center;
   margin: 5px;
 }

 .children-cabecalho{
  display: flex;
  justify-content: space-between;
 }

 .btn {
    border: none;
    border-radius: 10px;
    font: inherit;
    font-weight: 900;
    padding: 0.50rem;
    margin: auto;
    color: white;
    background: #F6A50E;
    cursor: pointer;
    transition: 0.3s;
 }


 .btn:hover, .btn:focus {
    outline: none;
    background: #c4830b;
 }

 .btn:disabled {
    cursor: not-allowed;
    background: #555b69;
 }

 .success, .error {
    text-align: center;
 }

 .sucesso {
  text-align: center;
 }

 .success {
    color: #F6A50E;
    margin-bottom: 20px;
 }

 .back {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
 }

 .error {
  color: tomato;
 }

 /* Para telas pequenas */
 @media screen and (max-width: 500px) {
  body {
    padding: 10px;
  }

  .campotexto {
    grid-template-columns: repeat(1, 1fr);
   }
  
   .campotexto2 {
    grid-template-columns: repeat(1, 1fr);
   }

  .campo {
    display: block;
  }

  .form {
    width: 70vw;
  }

  .logo {
    width: 120px;
  }

  .title {
    padding: 30px 0px 0px 10px ;
    font-size: 30px;
  }

  .p-title {
    font-size: 0.90rem;
  } 
 }